.container {
	width: 320px;
	height: 100px;
	padding: 10px 15px 18px 15px;
	position: absolute;
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(134, 134, 134, 0.3);
}

.text {
	color: black;
	text-align: center;
	font-family: "Calibri";
	font-size: 30px;
	padding: 10px 10px 18px 10px;
}

.button {
	background-color: #7BD0EF;
	border: none;
	color: white;
	padding: 2px 5px;
	text-align: center;
	font-size: 18px;
}

.button:active {
	background-color: white;
	color: #7BD0EF;
}

#accept {
	margin: 0px 110px 0px 35px;
}

.response {
	visibility: hidden;
}

.form {
	height: 150px;
	visibility: hidden;
}

.input {
	margin: 0px 0px 10px 20px
}

#submit {
	margin: 0px 0px 0px 125px
}